{% extends 'base/base.html' %}
{% block content %}
  <section class="section section-posts grey lighten-4">
    <div class="row">
      <div class="col l8 offset-l2 m10 offset-m1 s12">   
        <div class="card-panel">
          <form method="POST" action="" enctype="multipart/form-data" id="app-form">
            {% csrf_token %} <!-- Include CSRF token for form submission -->
            <h5 class="center" style="margin-bottom: 7%; margin-top: 5%">Add a bug to the database</h5>

            <div class="row">
              <div class="input-field col s8">
                <input type="text" name="description" id="description" class="validate" required>
                <label for="description">Description</label>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <label for="bug_type">Bug type</label>
                <select class="browser-default" id="bug_type" name="bug_type" required>
                  <option value="" disabled selected>Select bug type</option>
                  <option value="error">Error</option>
                  <option value="new_feature">New Feature</option>
                  <option value="enhancement">Enhancement</option>
                </select>
              </div>
              <div class="col s6">
                <label for="status">Status</label>
                <select class="browser-default" id="status" name="status" required>
                  <option value="" disabled selected>Select bug status</option>
                  <option value="unconfirmed">Unconfirmed</option>
                  <option value="to_do">To Do</option>
                  <option value="in_progress">In Progress</option>
                  <option value="done">Done</option>
                  <option value="reopened">Reopened</option>
                </select>
              </div>
            </div>
            <div class="center">
              <input type="submit" class="btn deep-purple darken-1 btn-medium" value="Submit Form" style="margin-bottom: 7%;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
